<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
		"-//mybatis.org//DTD Mapper 3.0//EN" 
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
		
<mapper namespace="info.colleoni.basketstats.persistence.ChampionshipMapper">

  <cache />
  
  <sql id="columns"> id,name, description, site_admin </sql>
  
  <select id="all" resultType="Tenant">
  	SELECT
  		<include refid="columns"/>
  	FROM
  		tenant
  </select>
  
  <select id="get" parameterType="int" resultType="Tenant">
  	SELECT
  		<include refid="columns"/>
  	FROM
  		tenant
  	WHERE id = #{id};  		
  </select>  
  
  <insert id="create" parameterType="Tenant" useGeneratedKeys="true"
    keyProperty="id">
  	INSERT INTO tenant (name, description, site_admin) 
  	VALUES (#{name}, #{description}, #{siteAdmin});
  </insert>
  
  <update id="save" parameterType="Tenant">
  	UPDATE tenant 
  	SET name = #{name}, description = #{description}, site_admin = #{siteAdmin}
  	WHERE id = #{id};
  </update>  
  
  <delete id="remove" parameterType="Tenant">
  	DELETE FROM tenant 
  	WHERE id = #{id};
  </delete>   
  
</mapper>