<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
		"-//mybatis.org//DTD Mapper 3.0//EN" 
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
		
<mapper namespace="info.colleoni.basketstats.persistence.TenantMapper">

  <cache />
  
  <sql id="keyColumns"> id </sql>
  <sql id="columns"> `key`, name, description, site_admin </sql>
  <sql id="table"> tenant  </sql>
  
  <select id="all" resultType="Tenant">
  	SELECT
  		<include refid="keyColumns"/>,
  		<include refid="columns"/>
  	FROM
  		<include refid="table"/>;
  </select>
  
  <select id="get" parameterType="int" resultType="Tenant">
  	SELECT
  		<include refid="keyColumns"/>,
  		<include refid="columns"/>
  	FROM
  		<include refid="table"/>
  	WHERE <include refid="keyColumns"/> = #{id};
  </select>  
  
  <insert id="create" parameterType="Tenant" useGeneratedKeys="true"
    keyProperty="id">
  	INSERT INTO 
  		<include refid="table"/> 
  		( <include refid="columns"/> ) 
  	VALUES 
  		(
  		#{key}, 
  		#{name}, 
  		#{description}, 
  		#{siteAdmin}
  		);
  </insert>
  
  <update id="save" parameterType="Tenant">
  	UPDATE 
  		<include refid="table"/> 
  	SET 
  		`key` = #{key}, 
  		name = #{name}, 
  		description = #{description}, 
  		site_admin = #{siteAdmin}
  	WHERE <include refid="keyColumns"/> = #{id};
  </update>  
  
  <delete id="remove" parameterType="Tenant">
  	DELETE FROM 
  		<include refid="table"/> 
  	WHERE 
  		<include refid="keyColumns"/> = #{id};
  </delete>   
  
  <!--  custom SQL  -->  
  
  <select id="byKey" parameterType="String" resultType="Tenant">
  	SELECT
  		<include refid="keyColumns"/>,
  		<include refid="columns"/>
  	FROM
  		<include refid="table"/>
  	WHERE `key` = #{tenantKey};
  </select>   
    
</mapper>