body {
	font-family: Arial, sans-serif;
}

div {
	position: relative;
}

.right {
	display: block;
	text-align: right;
}

.group {
	
}

.group:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.inner {
	margin: 0 auto;
	position: relative;
	width: 1020px;
}

header[role="banner"] {
	background: none repeat scroll 0 0 #888888;
	height: 150px;
	width: 100%;
}

header .inner nav {
    position: absolute;
    top: 110px;
    width: 1020px;
    z-index: 3;
}

#content {
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

#content[role="main"] {
	background: none repeat scroll 0 0 #FFFFFF;
	border-top: 45px solid transparent;
	margin: -45px auto 0;
	padding: 15px;
	width: 1020px;
}

footer[role="contentinfo"] {
	margin: 40px 0 0;
	padding: 0 0 40px;
}

/* MENU */
/* Source: http://designmodo.com/css3-dropdown-menu/#ixzz2GvCsvLaz */
.menu,.menu ul,.menu li,.menu a {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

.menu {
	height: 40px;
	background: #4c4e5a;
	background: -webkit-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
	background: -moz-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
	background: -o-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
	background: -ms-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
	background: linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.menu li {
	position: relative;
	list-style: none;
	float: left;
	display: block;
	height: 40px;
}

.menu li a {
	display: block;
	padding: 0 14px;
	margin: 6px 0;
	line-height: 28px;
	text-decoration: none;
	border-left: 1px solid #393942;
	border-right: 1px solid #4f5058;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: #f3f3f3;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

.menu li:first-child a {
	border-left: none;
}

.menu li:last-child a {
	border-right: none;
}

.menu li:hover>a {
	color: #8fde62;
}

.menu ul {
	position: absolute;
	top: 40px;
	left: 0;
	opacity: 0;
	background: #1f2024;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	-webkit-transition: opacity .25s ease .1s;
	-moz-transition: opacity .25s ease .1s;
	-o-transition: opacity .25s ease .1s;
	-ms-transition: opacity .25s ease .1s;
	transition: opacity .25s ease .1s;
}

.menu li:hover>ul {
	opacity: 1;
}

.menu ul li {
	height: 0;
	overflow: hidden;
	padding: 0;
	-webkit-transition: height .25s ease .1s;
	-moz-transition: height .25s ease .1s;
	-o-transition: height .25s ease .1s;
	-ms-transition: height .25s ease .1s;
	transition: height .25s ease .1s;
}

.menu li:hover>ul li {
	height: 36px;
	overflow: visible;
	padding: 0;
}

.menu ul li a {
	width: 100px;
	padding: 4px 0 4px 40px;
	margin: 0;
	border: none;
	border-bottom: 1px solid #353539;
}

.menu ul li:last-child a {
	border: none;
}

.menu a.list-menu-link {
	/* background: url(../images/docs.png) no-repeat 6px center; */
}

.menu a.form-menu-link {
	/* background: url(../images/bubble.png) no-repeat 6px center; */
}

.menu a.parent-menu-link {
	/* background: url(../images/arrow.png) no-repeat 6px center; */
}

/* END OF MENU */

/* TABLES */
table {
	border: 1px solid #e3e3e3;
	background-color: #f2f2f2;
	margin: 2%; width : 96%;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	width: 96%;
}

table td,table th {
	padding: 5px;
	color: #333;
}

table thead {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding: .2em 0 .2em .5em;
	text-align: left;
	color: #4B4B4B;
	background-color: #C8C8C8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2),
		to(#e3e3e3), color-stop(.6, #B3B3B3) );
	background-image: -moz-linear-gradient(top, #D6D6D6, #B0B0B0, #B3B3B3 90%);
	border-bottom: solid 1px #999;
}

table th {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 17px;
	line-height: 20px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-shadow: white 1px 1px 1px;
}

table td {
	line-height: 20px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
}

table td:hover {
	background-color: #fff;
}
/* END OF TABLES */

/* FORMS */
.default-form {
	background-color: #EEEEEE;
	width: 80%;
	padding: 20px;
	margin: 30px auto;
	border: 6px solid #AAAAAA;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	position: relative;
}

.default-form h1 {
	font-size: 42px;
}

.default-form h2 {
	margin-bottom: 15px;
	font-style: italic;
	font-weight: normal;
}

.default-form input,.default-form select,.default-form textarea,.default-form label
	{
	font-size: 15px;
	margin-bottom: 2px;
}

.default-form input,.default-form select,.default-form textarea {
	width: 450px;
	border: 1px solid #CEE1E8;
	margin-bottom: 20px;
	padding: 4px;
}

.default-form input:focus,.default-form select:focus,.default-form textarea:focus
	{
	border: 1px solid #AFCDD8;
	background-color: #EBF2F4;
}

.default-form textarea {
	height: 150px;
	resize: none;
}

.default-form label {
	display: block;
}

.default-form .required {
	font-weight: bold;
	color: #F00;
}

.default-form #submit-button,
.default-form #delete-button {
	width: 100px;
	background-color: #333;
	color: #FFF;
	border: none;
	display: block;
	float: right;
	margin-bottom: 0px;
	margin-right: 6px;
	background-color: #8FB5C1;
	-moz-border-radius: 8px;
}

.default-form #submit-button:hover,
.default-form #delete-button:hover {
	background-color: #A6CFDD;
}

.default-form #submit-button:active,
.default-form #delete-button:active {
	position: relative;
	top: 1px;
}

.default-form #loading {
	width: 32px;
	height: 32px;
	background-image: url(../img/loading.gif);
	display: block;
	position: absolute;
	right: 130px;
	bottom: 16px;
	display: none;
}

#errors {
	border: solid 1px #E58E8E;
	padding: 10px;
	margin: 25px 0px;
	display: block;
	width: 437px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: #FFE6E6 url(../img/cancel_48.png) no-repeat 405px center;
	display: none;
}

#errors li {
	padding: 2px;
	list-style: none;
}

#errors li:before {
	content: ' - ';
}

#errors #info {
	font-weight: bold;
}

#errors #info:before {
	content: '';
}

#success {
	border: solid 1px #83D186;
	padding: 25px 10px;
	margin: 25px 0px;
	display: block;
	width: 437px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: #D3EDD3 url(../img/accepted_48.png) no-repeat 405px center;
	font-weight: bold;
	display: none;
}

#errors.visible,#success.visible {
	display: block;
}

#req-field-desc {
	font-style: italic;
}

/* Remove box shadow firefox, chrome and opera put around required fields. It looks rubbish. */
input:required,textarea:required {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}

/* Normalize placeholder styles */

/* chrome, safari */
::-webkit-input-placeholder {
	color: #CCC;
	font-style: italic;
}

/* mozilla */
input:-moz-placeholder,textarea:-moz-placeholder {
	color: #CCC;
	font-style: italic;
}

/* ie (faux placeholder) */
input.placeholder-text,textarea.placeholder-text {
	color: #CCC;
	font-style: italic;
}

.ir {
	display: block;
	text-indent: -999em;
	overflow: hidden;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
}

.hidden {
	display: none;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,.clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

@media all and (orientation:portrait) {
}

@media all and (orientation:landscape) {
}

@media screen and (max-device-width: 480px) {
	/* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

@media print {
	* {
		background: transparent !important;
		color: black !important;
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important;
	}
	a,a:visited {
		color: #444 !important;
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after {
		content: "";
	}
	pre,blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
	}
	tr,img {
		page-break-inside: avoid;
	}
	@page {
		margin: 0.5cm;
	}
	p,h2,h3 {
		orphans: 3;
		widows: 3;
	}
	h2,h3 {
		page-break-after: avoid;
	}
}
/* END OF FORMS */

/* COMMON CLASSES */
.site-title {
    color: white;
    display: block;
    font-size: 16pt;
    font-weight: bold;	
}

.site-watchword {
    color: white;
    font-variant: small-caps;	
}
/* END OF COMMON CLASSES */

/* SPECIFIC IDs */
#userInfo {
    background-color: lightgray;
    border: 1px dotted darkgray;
    border-radius: 5px 5px 5px 5px;
    left: 860px;
    padding: 10px;
    position: relative;
    top: -35px;
    width: 300px;	
}

#userInfo span{
    color: white;
    display: block;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
}
/* END OF SPECIFIC IDs */