<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="/layout::head">
<meta charset="UTF-8" />
<title>JBasketStats - Basketball Statistics (STATIC)</title>
</head>
<body>
	<header role="banner" th:include="/layout::header"> </header>


	<div id="content" class="group" role="main">
		<div id="tenant-list" class="item-list"
			th:unless="${#lists.isEmpty(allTenants)}">
			<table>
				<caption th:utext="#{tenant.list.title}">Tenant list</caption>
				<thead>
					<tr>
						<th th:text="#{tenant.id.label}">ID</th>
						<th th:text="#{tenant.name.label}">Name</th>
						<th th:text="#{tenant.siteAdmin.label}">Site admin</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="t : ${allTenants}">
						<td><input type="hidden" th:value="${t.id}" value="1" /><span th:text="${t.id}">1</span></td>
						<td th:text="${t.name}">The tenant</td>
						<td th:text="${t.siteAdmin}? #{bool.true} : #{bool.false}">yes</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<footer th:include="layout::footer"> </footer>
	<script type="text/javascript">
	$(document).ready(function() {

	    $('#tenant-list tr').click(function() {
	        var fldId = $(this).find("input");
	        window.location = 'get.html?id=' + fldId.val();
	    });

	});	
	</script>
</body>
</html>